#siteNav.siteNav li {
    margin-left: 44px !important;
}
#siteNav.siteNav li a {
    opacity: 0;
}

div.lenderassist_additional {
    float: left;
    width: 100%;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #F7F7F2;
}

div.loan-card.row {
    height: auto !important;
    min-height: 350px !important;
}

div.loan-card-2.row {
    height: auto !important;
}

div.loan-card-2.row.partner-name .loan-card-2-footer-wrap {
    height: 10.5rem !important;
}

div.loan-card-2.row.spark-lines .loan-card-2-footer-wrap {
    height: 12rem !important;
}

div.loan-card-2.row.partner-name.spark-lines .loan-card-2-footer-wrap {
    height: 13.0625rem !important;
}

div.borrower-details-wrap {
    height: 73px !important;
}

div.lenderassist_final_repay {
    margin-top: 0px;
    font-size: 75%;
    height: 45px;
    padding: 4px;
}

div.lenderassist_partner {
    margin-top: 0px;
    font-size: 75%;
    height: 25px;
    background-color: #F7F7F2;
    padding: 4px;
    overflow-y: hidden;
}