div.Streaming_TickerSubView li {
    /*width: 100%;  new registrations were sizing their width to content (problem with windows wrapping images around */
}

.ticker {
    overflow-y: auto !important;
}

div.view_select { /* allow user to select which view they want to use */
    position: absolute;
    #opacity: 0;
    top: 69px;
    left: 23px;
    font-size: smaller;
    z-index: 10000;
    border: gray;
    border-style: dashed;
    border-width: 1px;
    padding: 2px;
}

ul.ticker li.loading img { /* crunched spacing on first load */
    padding-right: 10px;
}

ul.ticker li a {
    font-size: 10px !important;
}

ul.ticker li.lender_registered {
    width: 280px;
}

ul.ticker li.lenderassist_read_text {
    /**background-color: bisque;**/
}

ul.ticker li.lenderassist_read_text.lenderassist_color_commentary {
    /**background-color: coral !important;**/
}

ul.ticker li.lenderassist_read_text.lenderassist_color_commentary_more {
    /**background-color: orangered !important;**/
}

div.dataChanged {
   /* background-color: gold; */
}